<!DOCTYPE html>
<html>

	<head>
		<meta chatset="UTF-8" />
		<title>{% block title %}Proyecto symfony{% endblock %}</title>
		<link href="{{ asset('/css/grid12.css') }}" rel="stylesheet" />
		<link href="{{ asset('/css/estilos.css') }}" rel="stylesheet" />
		<link href="{{ asset('/css/menu.css') }}" rel="stylesheet" />
		{% block estilos %}{% endblock %}
	</head>

	<body>

		<div class="col">

			<div class="col-md-3">

  					<div id="cabecera">
   	 					<h1>fct</h1>
   		 				Gestor de prácticas en empresa
  					</div>
  
  					<div id="principal">
    					<h3>Principal</h3>
   						<div>Listado de asignaciones</div>
        				<div>Asignación</div>
    					<h3>Maestros</h3>

						<div id="empresa">Empresa</div>
    						<ul>
      							<li>ListadoEmpresas</li>
      							<li>NuevaEmpresa</li>
		   					</ul>

						<div>Alumnos</div>
    						<ul>
      							<li>ListadoAlumnos</li>
    						</ul>
				
						<div>Tutores</div>

        				<h3>Recursos</h3>
				 		 <div>Recursos</div>
  					</div>
			</div>

			<div class="col-md-9">{% block contenido %}Contenido central{% endblock %}</div>
		</div>
	</body>
</html>