<html>
	<head>
		<title>Todas las empresas</title>
		<meta charset="UTF-8">
		<link href="{{ asset('/css/nuevaEmpresa.css') }}" rel="stylesheet" />
	</head>

	<body>
		<div id="contenedorForm">
			{{form(form)}}
		</div>
	</body>
</html>
